<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="army-segment">
    	<h2>HQ <span>0</span>/2 Selected (1 Required)</h2>
    	<div class="unit">
    		<div class="options">
	    		<div class="header">
	    			<h3 class="unit-name">Hive Tyrant</h3>
	    			<span class="base points" data-points="200">200 points</span>
	    		</div>
	    		<div class="extras">
	    			<div class="weapons">
	    				<h4>Weapons</h4>
	    				<ul>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    			</ul>
	    			</div>
	    			<div class="upgrades">
	    				<h4>Upgrades</h4>
	    				<ul>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    				<li class="entry">
		    					<input type="checkbox" data-points="35">Heavy Venom Canon (35 points)</input>
		    				</li>
		    			</ul>
	    			</div>
	    		</div>
	    	</div>
	    	<div class="calculation">
	    		<span class="total">0 points</span>
	    	</div>
	    	<div class="add">
	    		<span>+ Add to Army</span>
	    	</div>
    	</div>
    </div>
  </body>
</html>
